@import url(weather/css/weather-icons.min.css);

body {
    background-color: #82bfe5;
    margin: 0;
    padding: 0;
    font-family: 'Arial Hebrew', Arial, sans-serif;
}

.app {
    text-align: center;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 16px;
    color: white;
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

.main-menu ul {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    margin: 0 0 0 40px;
    padding: 0;
    list-style: none;
}

.main-menu li {
    margin: 1em;
}

.main-menu a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 3px 5px;
    border: 2px solid transparent;
    color: #FFFFFF;
    font: 500 1.25em/1.2 "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    text-decoration: none;
}

.main-menu a:hover {
    border-color: #FFFFFF;
}

.main {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #373056;
    color: white;
    transition: background-color 2s ease 1s, color 2s ease 1s;
}

.app[data-hour='0'],
.app[data-hour='1'],
.app[data-hour='2'],
.app[data-hour='3'] {
    background-color: #362942;
    color: white;
}

.app[data-hour='4'],
.app[data-hour='5'],
.app[data-hour='6'],
.app[data-hour='7'] {
    background-color: #82bfe5;
    color: #2F2F2F;
}

.app[data-hour='8'],
.app[data-hour='9'],
.app[data-hour='10'],
.app[data-hour='11'] {
    background-color: #c3e9f7;
    color: #2F2F2F;
}

.app[data-hour='12'],
.app[data-hour='13'],
.app[data-hour='14'],
.app[data-hour='15'] {
    background-color: #efad51;
    color: #2F2F2F;
}

.app[data-hour='16'],
.app[data-hour='17'],
.app[data-hour='18'],
.app[data-hour='19'] {
    background-color: #a33737;
    color: white;
}

.app[data-hour='20'],
.app[data-hour='21'],
.app[data-hour='22'],
.app[data-hour='23'] {
    background-color: #192f49;
    color: white;
}

.weather-icon {
    width: 200px;
    height: 200px;
    font-size: 190px;
    text-align: center;
    margin: 4rem;
}

.weather-details {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.weather-details .city {
    font-size: 34px;
    margin-bottom: 1rem;
}

.weather-details .temperature {
    font-size: 68px;
}

.forecast {
    display: flex;
    justify-content: center;
    padding: 2em 0 0;
}

.forecast > div {
    margin: 0 1em;
}

.forecast .weather-icon {
    width: 90px;
    height: 90px;
    font-size: 70px;
    text-align: center;
    margin: 1rem 2rem 0;
}

.forecast .weather-details .temperature {
    font-size: 38px;
}
